.frameWithoutColor {
  background-color: white;
  border-radius: 16px;
  width: 1824px;
  height: 238px;
  margin: 22px 48px;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .bigName{
    color: #000;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; 
    margin-bottom: 46px ;
    margin-top: 32px;
  }

  .filters{
    display: flex;
  }
}

.search1{
    width: 892px;
    height: 52px;
    flex-shrink: 0;
    padding: 6px 6px 6px 20px;
    border-radius: 10px;
    border: 1px solid #E6EAF8;
    transition: border-color 0.3s;
    outline: none;
}

.search1:hover {
    border-color: #D8C5F0; /* ваш цвет границы при наведении */
  }

.search1:focus {
    border-color: #550DB2;

    /* цвет границы в активном состоянии (при нажатии) */
  }
.search{
    display: flex;
    align-items: center;
    position: relative;
}

.date1{
  width: 442px;
  height: 52px;
  padding: 6px 6px 6px 20px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #E6EAF8;
  transition: border-color 0.3s;
  outline: none;
  color: #333339;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-right: 8px;
}

.date1:hover {
  border-color: #D8C5F0; /* ваш цвет границы при наведении */
}

.date1:focus {
  border-color: #550DB2;

  /* цвет границы в активном состоянии (при нажатии) */
}

.imageWrapper2{
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: #F0EDF5;
  position: absolute;
  right: 14px;
}

.dropDownList{
  width: 442px;
  height: 52px ;
  margin-right: 8px;
}

 
.date{
  display: flex;
  align-items: center;
  position: relative;
}

.imageWrapper{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #F0EDF5;
    position: absolute;
    right: 6px;
    border: none;
}

.listActions{
    display: flex;
    width: 892px;
    height: 52px;
    padding: 8px 8px 8px 20px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #E6EAF8;
    background: #F9F9FC;
    margin-right: 8px;
}

.Text1{
    width: 175px;
    color: #333339;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    // margin-right: 246px;
    margin-right: 412px;

}



.frc {
    background-color: white;
    border-radius: 16px;
    width: 1824px;
    margin: 22px 48px;
    padding: 16px;
    display: flex;
    align-items: center;

    .exportButton{
        display: flex;
        width: 127px;
        padding: 8px 20px 8px 16px;
        align-items: center;
        width: 127px;
        font-size: 16px;
        color: #550DB2;
        border-color: #D8C5F0;
        transition: border-color 0.3s;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          border-color: #550DB2; 
        }
        margin-right: 0px;
      }
      .deleteButton{
        display: inline-flex;
        padding: 8px 20px 8px 16px;
        justify-content: center;
        align-items: center;
        width: 150px;
        font-size: 16px;
        color: #F44B4B;
        border-color: #F4C2C2;
        transition: border-color 0.3s;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          border-color: #F44B4B; 
        }
      }
      .editButton{
        display: inline-flex;
        padding: 8px 20px 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 180px;
        font-size: 16px; 
        color: #6AB20D;
        border-color: #B8D395;
        transition: border-color 0.3s;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          border-color: #6AB20D;
          background:#E3EBD7; 
        }
      }
}