.frame-without-color {
  background-color: white;
  border-radius: 16px;
  width: 1824px;
  margin: 22px 48px;
  padding: 50px;

  .ant-select-selector {
    box-shadow: none !important;
  }
  
}

.frame-without-color-2 {
  background-color: white;
  border-radius: 16px;
  width: 1824px;
  margin: 22px 48px;
  padding: 16px;
}


.frame {
  background-color: #ffffff;
  border-radius: 16px;
  width: 1824px;
  height: 800px;
  margin: 22px 48px;
  padding: 50px;

  .div {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 52px;
    top: 64px;
  }

  .div2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
  }

  .div3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
  }

  .divwrapper {
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #550db2;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 16px 28px;
  }

  .textwrapper {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -2px;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
  }

  .divwrapper2 {
    align-items: center;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 16px 28px;
  }

  .textwrapper2 {
    color: #7e7e9b;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: -2px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
  }

  .div4 {
    background-color: #e6eaf8;
    height: 1px;
    position: relative;
    width: 592px;
  }

  .text{
    color: #7F7F9B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
    position: relative;
    .closedEye{
      position:absolute;
      top:45px;
      left:548px;
      cursor: pointer;
    }
  
    .Eye{
      position:absolute;
      top:41px;
      left:544px;
      cursor: pointer;
    }
  }

  .inputF{
    width: 592px;
    height: 52px;
    display: flex;
    padding: 16px 20px 16px 20px;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #E6EAF8;
    outline: 0;
    margin-top: 8px;
    color: #333339;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;


  }


  .next{
    margin-top: 52px;
    display: flex;
    width: 592px;
    height: 52px;
    padding: 16px 38px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #550DB2;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .policy{
    width: 592px;
    color: #333339;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    display: flex;
    flex-direction: column;
    .policy2{
      color: #A609CB;
    }
    .policy3{
      display: flex;
    }
  }

}
